/* =========================
   CARDS
========================= */

.card{

    background:rgba(255,255,255,.045);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border-radius:30px;

    color:var(--light-text);

    overflow:hidden;

    transition:.45s;

    height:100%;
}

.card:hover{

    transform:translateY(-12px);

    box-shadow:
    0 18px 55px rgba(0,0,0,.35);
}

.card-body{
    padding:28px;
}

.card-body h5{
    color:white;
}

/* PROJECT IMAGE */

.card img{

    height:240px;

    object-fit:cover;

    background:#111;
}

/* TECH TAGS */

.tech{

    gap:10px;

    flex-wrap:wrap;

    margin:25px 0;
}

.tech p{

    padding:8px 15px;

    border-radius:30px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);
}
/* =========================
   PROJECT FILTERS
========================= */

.project-filters{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    flex-wrap:wrap;

    margin-top:20px;
}

.filter-btn{

    padding:10px 18px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,.12);

    background:rgba(255,255,255,.05);

    color:var(--light-text);

    cursor:pointer;

    transition:.35s;

    backdrop-filter:blur(10px);
}

.filter-btn:hover{

    transform:translateY(-4px);

    background:rgba(255,255,255,.08);
}

.filter-btn.active{

    background:linear-gradient(
    135deg,
    var(--vibrant-purple),
    var(--electric-blue)
    );

    border-color:transparent;
}

/* PROJECT ITEMS */

.project-item{
    transition:.4s ease;
}
/* =========================
   CONTACT CARD FIX
========================= */

.contact-card{
    overflow: visible;
    word-break: break-word;
        width:100%;

}

.contact-card p,
.contact-card a{
    overflow-wrap: anywhere;
    word-break: break-word;
}