/* =========================
   LARGE SCREENS → TABLET
========================= */

@media (max-width: 992px) {
  .hero {
    text-align: center;
  }

  .hero-buttons,
  .social-icons {
    justify-content: center;
  }

  .hero h1 {
    font-size: 4.5rem;
  }

  /* mobile navbar dropdown */
  .navbar-collapse {
    background: rgba(10, 15, 35, 0.96);
    backdrop-filter: blur(20px);

    padding: 22px;
    margin-top: 15px;

    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    gap: 10px;
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 768px) {
  .hero-image-wrapper {
    width: 280px;
    height: 280px;
  }

  .hero-image-wrapper::before {
    width: 320px;
    height: 320px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  section {
    padding: 90px 0;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .btn-primary-custom,
  .btn-outline-custom {
    width: 100%;
    text-align: center;
  }

  .glass-section {
    width: 92%;
    padding: 70px 24px;

    transform: translateY(0);

    border-radius: 28px;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }
    .feature-icon {
    width: 50px;
    height: 50px;
    margin: 14px auto 6px;
    border-radius: 14px;
  }

  .feature-icon i {
    font-size: 20px;
  }

  .card {
    padding: 14px;
  }

  .card h5 {
    font-size: 0.95rem;
  }

  .card p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}
