/* =========================
   TABLET
========================= */

@media(max-width:992px){

.hero h1{
    font-size:4.2rem;
}

.navbar-nav{
    padding-top:20px;
    gap:10px;
}

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.hero{
    padding-top:160px;
}

.hero h1{
    font-size:3.1rem;
}

h2{
    font-size:2.3rem;
}

.btn-primary{
    width:100%;
}

}

/* =========================
   SMALL MOBILE
========================= */

@media(max-width:480px){

.hero h1{
    font-size:2.5rem;
}

section{
    padding:90px 0;
}

}

/* =========================
   MOBILE NAVBAR
========================= */

@media(max-width:991px){

.navbar-collapse{

    background:rgba(10,15,35,.96);

    backdrop-filter:blur(20px);

    padding:20px;

    border-radius:22px;

    margin-top:15px;
}

.navbar-nav{
    align-items:center;
}

}